<div class="bg-white shadow rounded-lg p-5 mb-5">
    <a href="<%= post.slug %>" class="text-2xl text-gray-700 block mb-2">
      <%= post.title%>
    </a>

    <div class="text-sm">
      <span class="text-gray-600"><%= post.date.fromNow() %></span>
    </div>
</div>
